{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
  <div class="carousel carousel-slider">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect amber accent-3 indigo-text darken-text-4">View Gallery</a>
    </div>
    <a class="carousel-item" href="#one!"><img style="height:400px;" src="{% static 'images/gate.jpg'%}"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>

</header>

  <div class="row container">
  <main>
  <div class="col s12 m9">
    <h5>News and Announcements</h5>
    <div class="divider"></div>
    <!--News and announcements-->
    <div class="row container">
    <!--news card-->
    <div class="col s12 m6">
     <div class="card amber accent-3">
        <div class="card-image">
          <img src="{% static 'images/hall.jpg'%}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action ">
          <a href="#" class="blue-text text-darken-2">This is a link</a>
        </div>
      </div>
      </div>
     <!--end news card-->
      <!--news card-->
    <div class="col s12 m6">
     <div class="card amber accent-3">
        <div class="card-image">
          <img src="{% static 'images/hall.jpg'%}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" class="blue-text text-darken-2">This is a link</a>
        </div>
      </div>
      </div>
     <!--end news card-->
       <!--news card-->
    <div class="col s12 m6">
     <div class="card amber accent-3">
        <div class="card-image">
          <img src="{% static 'images/hall.jpg'%}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" class="blue-text text-darken-2">This is a link</a>
        </div>
      </div>
      </div>
     <!--end news card-->
       <!--news card-->
    <div class="col s12 m6">
     <div class="card amber accent-3">
        <div class="card-image">
          <img src="{% static 'images/hall.jpg'%}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#" class="blue-text text-darken-2">This is a link</a>
        </div>
      </div>
      </div>
     <!--end news card-->
     
    </div>
    </div>
      <!--News and announcements-->
      </main>
   <aside>
  <div class="col s12 m3">
    <h5>Top Articles</h5>
    <div class="row">
        <div class="card horizontal">
      <div class="card-image">
        <img style="height:150px; width:150px;" src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content" style="padding:2px; height:fit-content;">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action" style="padding:2px;">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
  </aside>
  </div>

{% endblock content%}